:global .Projects__Projects__36TK6 ul + div {
    background-color: transparent !important;
}

.Projects {
    padding: 150px 8vw 50px;
}

.HeadingOne,
.HeadingTwo {
    line-height: 2rem;
    text-align: left;
    font-weight: 600;
    font-size: 2rem;
}

.HeadingOne {
    color: #19293A;
}

.HeadingTwo {
    color: #506473;
}

.SeeAllWork {
    font-weight: 600;
    cursor: pointer;
    width: 100px;
    color: #19293A;
}

.SeeAllWork:after {
    display: block;
    content: '';
    border-bottom: solid 2px #C0345E;  
    width: 0;  
    transition: width 250ms ease-in-out;
}

.SeeAllWork:hover:after {
    width: 100%;
}

.ChevronIcon {
    background-color: #50647380;
    color: #506473;
    height: 40px;
    width: 35px;
    padding: 6px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 120ms ease-in, color 120ms ease-in;
}

.ChevronIcon:hover {
    background-color: #19293A;
    color: #fff;
}

@media only screen and (min-width: 768px) {
    :global .Projects__Projects__36TK6 ul + div {
        background-color: #C0345E !important;
    }
}

@media only screen and (min-width: 991px) {
    .UnleashColumn {
        padding: 8vw;
    }
}