.Navbar {
    position: fixed;
    width: 100%;
    padding: 10px;
    top: 0;
    transition: top 0.3s;
    z-index: 200;
}
  
.NavbarHidden {
    top: -150px;
}

.NavbarLogo {
    float: left;
    transition: height .3s ease-in;
}