.Navbar {
    position: fixed;
    width: 100%;
    padding: 10px;
    top: 0;
    transition: top 0.3s;
    z-index: 200;
    background-color: #fff;
}
  
.NavbarHidden {
    top: -150px;
}

.NavbarLogo {
    float: left;
    transition: height .3s ease-in;
}

@media only screen and (min-width: 992px) {
    .Navbar {
        background-color: unset;
    }
}