/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.KindWords {
    padding: 0;
    margin-bottom: 50px;
}

.KindWordsColumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    padding: 150px 8vw 50px;
}

.HeadingOne,
.HeadingTwo {
    line-height: 2rem;
    font-weight: 600;
    font-size: 2rem;
}

.HeadingOne {
    color: #19293A;
}

.HeadingTwo {
    color: #506473;
}

@media only screen and (min-width: 991px) {
    .KindWordsColumn {
        padding: 8vw;
    }
}