.Hamburger {
    cursor: pointer;
    padding: 10px;
    float: right;
    height: 25px;
    width: 50px;
}

.HamburgerIconOne,
.HamburgerIconTwo,
.HamburgerIconThree {
    position: relative;
    float: right;
    height: 3px;
    border-radius: 1px;
    width: 30px;
    background-color: #4a4a4f;
    transition: transform 300ms ease-in, width 300ms ease-in, top 300ms ease-in;
}

.HamburgerIconOneClose {
    top: -5px;
}

.HamburgerIconTwoClose {
    width: 100%;
}

.HamburgerIconThreeClose {
    top: 5px;
}

.HamburgerIconOneOpen {
    top: 1px;
    transform: rotateZ(45deg);
}

.HamburgerIconTwoOpen {
    width: 0;
}

.HamburgerIconThreeOpen {
    top: -2px;
    transform: rotateZ(-45deg);
}
