:global .CaseStudies__CaseStudies__9Uit6 .slick-arrow {
    position: absolute;
    z-index: 1;
    top: -45px;
}

:global .slick-center .CaseStudiesSlider__SliderRow__3nq5M {
    transform: scale(1.05);
    z-index: 10;
    transition: transform 200ms ease-in;
}


:global .CaseStudies__CaseStudies__9Uit6 .slick-arrow:before {
    color: #A7B1B8;
    font-size: 40px;
}

:global .CaseStudies__CaseStudies__9Uit6 .slick-prev {
    left: calc(50% - 30px);
}

:global .CaseStudies__CaseStudies__9Uit6 .slick-next {
    right: calc(50% - 30px);
}

.CaseStudiesDescription {
    padding: 60px 20px;
    background-color: #19293A;
    color: #fff;
    font-size: .67rem;
    text-align: left;
}

.SliderRow {
    padding: 30px 0;
    margin: auto;
}

.ReadMore {
    font-weight: 600;
    cursor: pointer;
    width: 65px;
    color: #fff;
}

.ReadMore:after {
    display: block;
    content: '';
    border-bottom: solid 2px #fff;  
    width: 0;
    color: #fff;
    transition: width 250ms ease-in-out;
}

.ReadMore:hover:after {
    width: 100%;
}


@media only screen and (min-width: 768px) {
    .SliderRow {
        padding: 40px 30px;
    }
}
