.WeUnleash {
    padding: 0;
}

.UnleashColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 100px 8vw 50px;
}

.UnleashPoints {
    text-transform: uppercase;
    color: #C34465;
}

.HeadingOne,
.HeadingTwo {
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 2rem;
}

.HeadingOne {
    color: #19293A;
}

.HeadingTwo {
    color: #506473;
}

.UnleashText {
    color: #506473;
}

.LetsTalk {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    cursor: pointer;
    width: 72px;
    color: #19293A;
}

.LetsTalk:after {
    display: block;
    content: '';
    border-bottom: solid 2px #C0345E;  
    width: 0;  
    transition: width 250ms ease-in-out;
}

.LetsTalk:hover:after {
    width: 100%;
}

@media only screen and (min-width: 991px) {
    .UnleashColumn {
        padding: 10vw;
    }
}
  